/* ==========================================================================
   HEADER
   ========================================================================== */

.c-page-header {
  background: #fff; 
  height: 100px;
  padding-left: 25px; 
  padding-right: 25px;
  // enable styles below for usage with headroom.js
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: z(overlay);
  @media(width >= 1024px) {
    height: 125px;
  
  } 
}
