/* ==========================================================================
   MAIN LOGO
   ========================================================================== */

.c-logo-main {
  position: absolute;
  top: 26px;
  z-index: z(default);
  & a {
    display: block;
  }
  & img {
    display: block;
    width: 180px;
    height: auto;
    max-height: $page-header-height;
    @media (width >= 1024px) {
      width: 230px;
    top: 28px;

     } 
  }
}
