/* ==========================================================================
   MISC UTILITIES
   ========================================================================== */
   .u-corner-crop {
    clip-path: polygon(0px 0px, 100% 0px, 100% 75%, 75% 100%, 0px 100%);
    position: relative;
    z-index: 1;

  }




    //    .u-corner-crop {
    //   -webkit-mask-image: url('../img/your-corner-shape.svg');
    //   mask-image: url('../img/your-corner-shape.svg');
    //   -webkit-mask-size: 100% 100%;
    //   mask-size: 100% 100%;
    //   -webkit-mask-repeat: no-repeat;
    //   mask-repeat: no-repeat;
    //   overflow: hidden;
    // }
   .fw300, .fw-300, .fw-300 p, .fw300 p {
    font-weight: 300;
   }
   

   .u-lined-heading {
    position: relative;
    // padding-top: 56px;
    // &::after{
    // clip-path: polygon(0px 0px, 63px 0px, 55px 9px,  0px 9px);
    //   content: "";
    //   width: 63px;
    //   position: absolute;
    //   top: 0px;
    //   display: block;
    //   left: 0;
    //   height: 9px;
    //   background-image: linear-gradient(to right, #88aebd 0%, #9b9477 100%);
    // }
    padding-left: 33px;
    &::before {
      content: "";
      background-image: url('../img/logo_grid_4.svg');
      width: 50px;
     width: 34px;
  height: 35px;
  background-size: 100%;
  display: block;
  position: absolute;
  left: -6px;
  bottom: 13px;
    
    }

   }

   .u-object-fit {
 
    figure {
      height: 100%;
      position: relative;
      img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
   }

   .editor-content > .u-nopad.alignfull {
    padding-right: 0 !important;
    padding-left: 0 !important; 
   }
.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}
 
.u-large-text, .is-style-large-text {
  font-size: 1.625rem;
}

.u-flex {
  display: flex;
}
.u-block {
  display: block;
}


.u-text-center {
  text-align: center;
}

.u-back-link {
  padding: 40px 0;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    top: 4px;
    position: relative;
  }
}

.u-with-x {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.3;
    @media(width >= $bp-large) {
      bottom: 70px;
      left: 0;
    } 
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 70px;
    right: -42%;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.3;
    transform: rotate(-45deg);
    @media(width >= $bp-large) {
      right: -21%;
    } 
  }
}

.u-light-blue {
  color: $color-tetra-blue-light;
}

.u-angled-line {
  overflow: hidden;
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }
  &::after {
  content: "";
  position: absolute;
  bottom: 70px;
  right: -24%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
  transform: rotate(45deg);
  z-index: 0;
  }
}

.nav-content::after {
  content: "";
  position: absolute;
  bottom: 70px;
  right: -100px;
  width: 200%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
  transform: rotate(-23deg);
  z-index: 0;
  }


.u-angled-line-left {
  overflow: hidden;
  position: relative;
  > * {
    position: relative;
    z-index: 1;
  }
  &::after {
  content: "";
  position: absolute;
  bottom: 70px;
  left: -24%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
  transform: rotate(45deg);
  z-index: 0;
  }
}

.u-cover-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 13;
}

.u-opacity-lower {
  opacity: 0.7;
}
// ++ media or embed aspect ratio +++++++++++++++++++++++++++++++++
.u-aspect-16x9 {
  padding-bottom: 56.25%; /* (9 / 16 = 0.5625) */
}


// ++ float orphan fix trick +++++++++++++++++++++++++++++++++
.u-orphan-fix {
  overflow: hidden;
  width: auto;
}


// ++ visibility classes ++++++++++++++++++++++++++++++++++++
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-visually-hidden-focusable:active,
.u-visually-hidden-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
