/* ==========================================================================
   HEADINGS
   ========================================================================== */

h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, .h5-style, h6, .h6-style {
  color: $color-teal;
  font-family: $font-secondary;
  font-weight: 500;
  line-height: $line-height-tight;
  margin: 0 0 1rem 0;
}
h1 a, .h1-style a, h2 a, .h2-style a, h3 a, .h3-style a, h4 a, .h4-style a, h5 a, .h5-style a, h6 a, .h6-style a {
  text-decoration: none;
}

h1, .h1-style {
  font-size: clamped(35px, 75px); 
  margin-bottom: 0;
  font-weight: 500;
  letter-spacing: -1.5px;
  strong {
    font-weight: 800;
  }
 
}
h2, .h2-style {
  font-size: clamped(22px, 54px);
  margin-bottom: 20px;
  letter-spacing: -1.08px;
}
h3, .h3-style {
  font-size: clamped(20px, 22px);

}
h4, .h4-style {
   font-size: clamped(24px, 28px);
   line-height: 135%;
letter-spacing: 0.28px;

}
h5, .h5-style {
  font-size: clamped(18px, 18px);
  font-weight: 400;
}
h6, .h6-style {
  font-size: 1.2rem;
}


p + h3 {
  margin-top: 40px;
}